In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the data
file_path = 'B.Tech Semester 6 Publish Result File.xlsx'  # replace with your actual file path
df = pd.read_excel(file_path, sheet_name='result (14)')  # adjust sheet name if needed 

# Display the first few rows of the dataframe
df.head(10)

,Sub Code,Unnamed: 1,Unnamed: 2,Unnamed: 3,15BCS-0CD32T,Unnamed: 5,15BCS-0MP41M,Unnamed: 7,15BCS-0TT42C,Unnamed: 9,...,21BTC-1SS31C,Unnamed: 15,22BCS-0MC32E,Unnamed: 17,24BCS-0CP32E,Unnamed: 19,TDL,Unnamed: 21,TDL Code,Unnamed:1
0,Subject Name,NaN,NaN,NaN,Compiler Design,NaN,Minor Project,NaN,Technology Trends - 4,NaN,...,Service Learning Viva-2,NaN,Machine Learning - 2,NaN,Competitive Programming,NaN,TDL,NaN,TDL Title,DIVYANSHI
1,Credit Point,NaN,NaN,NaN,4,NaN,4,NaN,1,NaN,...,1,NaN,3,NaN,3,NaN,2,NaN,NaN,DIVYANSHI
2,Student Roll Number,Student Name,SGPA,Exam Name,Marks,Grade,Marks,Grade,Marks,Grade,...,Marks,Grade,Marks,Grade,Marks,Grade,Marks,Grade,NaN,DIVYANSHI
3,210BTCSEAM002,KESHAV MADHAV,7.462,EP,74,B+,90,A+,92,A+,...,70,B+,71,B+,58,C,74,B+,TDC23LW01,DIVYANSHI
4,NaN,NaN,NaN,External,43,NaN,54,NaN,55,NaN,...,70,NaN,40.67,NaN,42,NaN,30,NaN,Social Media and Censorship,DIVYANSHI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,NaN,NaN,NaN,External,39,NaN,50,NaN,38,NaN,...,70,NaN,44.67,NaN,44,NaN,30.5,NaN,Site Design and Improvement,DIVYANSHI
110,NaN,NaN,NaN,Internal,32,NaN,34,NaN,25,NaN,...,-,NaN,39.06,NaN,35.56,NaN,34.5,NaN,NaN,DIVYANSHI
111,221BTCSEAM001,Priyanshu Malik,7.217,EP,87,A+,81,A,68,B,...,75,A,69,B,45,D,77,A,TDC22LW06,DIVYANSHI
112,NaN,NaN,NaN,External,52,NaN,49,NaN,41,NaN,...,75,NaN,29.33,NaN,32,NaN,30,NaN,Women Law and Policy,DIVYANSHI
113,NaN,NaN,NaN,Internal,35,NaN,32,NaN,27,NaN,...,-,NaN,40,NaN,13.33,NaN,47,NaN,NaN,DIVYANSHI

In [2]:
df = df.drop([0,1,2]).reset_index(drop=True)
df

,Sub Code,Unnamed: 1,Unnamed: 2,Unnamed: 3,15BCS-0CD32T,Unnamed: 5,15BCS-0MP41M,Unnamed: 7,15BCS-0TT42C,Unnamed: 9,...,Unnamed: 13,21BTC-1SS31C,Unnamed: 15,22BCS-0MC32E,Unnamed: 17,24BCS-0CP32E,Unnamed: 19,TDL,Unnamed: 21,TDL Code
0,210BTCSEAM002,KESHAV MADHAV,7.462,EP,74,B+,90,A+,92,A+,...,A,70,B+,71,B+,58,C,74,B+,TDC23LW01
1,NaN,NaN,NaN,External,43,NaN,54,NaN,55,NaN,...,NaN,70,NaN,40.67,NaN,42,NaN,30,NaN,Social Media and Censorship
2,NaN,NaN,NaN,Internal,31,NaN,36,NaN,37,NaN,...,NaN,-,NaN,30,NaN,15.65,NaN,44,NaN,NaN
3,210BTCSEAM004,SOURABH TANWAR,4.692,EP,50,C,70,B+,88,A+,...,B,70,B+,12,F,26,F,87,A+,TDC23HS01
4,NaN,NaN,NaN,External,31,NaN,40,NaN,53,NaN,...,NaN,70,NaN,12.33,NaN,26,NaN,36,NaN,Radiation in Healthcare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,NaN,NaN,NaN,External,39,NaN,50,NaN,38,NaN,...,NaN,70,NaN,44.67,NaN,44,NaN,30.5,NaN,Site Design and Improvement
107,NaN,NaN,NaN,Internal,32,NaN,34,NaN,25,NaN,...,NaN,-,NaN,39.06,NaN,35.56,NaN,34.5,NaN,NaN
108,221BTCSEAM001,Priyanshu Malik,7.217,EP,87,A+,81,A,68,B,...,B+,75,A,69,B,45,D,77,A,TDC22LW06
109,NaN,NaN,NaN,External,52,NaN,49,NaN,41,NaN,...,NaN,75,NaN,29.33,NaN,32,NaN,30,NaN,Women Law and Policy
110,NaN,NaN,NaN,Internal,35,NaN,32,NaN,27,NaN,...,NaN,-,NaN,40,NaN,13.33,NaN,47,NaN,NaN

In [3]:
new_column_names = {
#   'Column name in above df' : 'name we want to rename it to'
    
#     'Sub Code': 'Compiler Design',  # Example: '15BCS-0CD32T' renamed to 'Compiler Design'
    'Sub Code': 'Roll Number',
    'Unnamed: 1': 'Student Name',
    'Unnamed: 2': 'SGPA',
    'Unnamed: 3': 'Exam Name',
    '15BCS-0CD32T': 'Compiler Design M', # M - Marks
    'Unnamed: 5': 'Compiler Design G', # G - Grades
    '15BCS-0MP41M': 'Minor Project M',
    'Unnamed: 7': 'Minor Project G',
    '15BCS-0TT42C': 'Technology Trends-4 M',
    'Unnamed: 9': 'Technology Trends-4 G',
    '15BCS-1CN31T': 'Computer Networks M',
    'Unnamed: 11': 'Computer Networks G',
    '18BCS-0AI42E': 'AI KRR M',
    'Unnamed: 13': 'AI KRR G',
    '21BTC-1SS31C': 'Service Learning M',
    'Unnamed: 15': 'Service Learning G',
    '22BCS-0MC32E': 'Machine Learning-2 M',
    'Unnamed: 17': 'Machine Learning-2 G',
    '24BCS-0CP32E': 'Competitive Programming M',
    'Unnamed: 19': 'Competitive Programming G',
    'TDL': 'TDL M',
    'Unnamed: 21': 'TDL G'
#     'TDL Code' : 
}

# Rename columns using the dictionary
df = df.rename(columns=new_column_names)
df

,Roll Number,Student Name,SGPA,Exam Name,Compiler Design M,Compiler Design G,Minor Project M,Minor Project G,Technology Trends-4 M,Technology Trends-4 G,...,AI KRR G,Service Learning M,Service Learning G,Machine Learning-2 M,Machine Learning-2 G,Competitive Programming M,Competitive Programming G,TDL M,TDL G,TDL Code
0,210BTCSEAM002,KESHAV MADHAV,7.462,EP,74,B+,90,A+,92,A+,...,A,70,B+,71,B+,58,C,74,B+,TDC23LW01
1,NaN,NaN,NaN,External,43,NaN,54,NaN,55,NaN,...,NaN,70,NaN,40.67,NaN,42,NaN,30,NaN,Social Media and Censorship
2,NaN,NaN,NaN,Internal,31,NaN,36,NaN,37,NaN,...,NaN,-,NaN,30,NaN,15.65,NaN,44,NaN,NaN
3,210BTCSEAM004,SOURABH TANWAR,4.692,EP,50,C,70,B+,88,A+,...,B,70,B+,12,F,26,F,87,A+,TDC23HS01
4,NaN,NaN,NaN,External,31,NaN,40,NaN,53,NaN,...,NaN,70,NaN,12.33,NaN,26,NaN,36,NaN,Radiation in Healthcare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,NaN,NaN,NaN,External,39,NaN,50,NaN,38,NaN,...,NaN,70,NaN,44.67,NaN,44,NaN,30.5,NaN,Site Design and Improvement
107,NaN,NaN,NaN,Internal,32,NaN,34,NaN,25,NaN,...,NaN,-,NaN,39.06,NaN,35.56,NaN,34.5,NaN,NaN
108,221BTCSEAM001,Priyanshu Malik,7.217,EP,87,A+,81,A,68,B,...,B+,75,A,69,B,45,D,77,A,TDC22LW06
109,NaN,NaN,NaN,External,52,NaN,49,NaN,41,NaN,...,NaN,75,NaN,29.33,NaN,32,NaN,30,NaN,Women Law and Policy
110,NaN,NaN,NaN,Internal,35,NaN,32,NaN,27,NaN,...,NaN,-,NaN,40,NaN,13.33,NaN,47,NaN,NaN

In [4]:
subjects = ['Compiler Design', 'Minor Project', 'Technology Trends-4', 
            'Computer Networks', 'AI KRR', 'Service Learning', 
            'Machine Learning-2', 'Competitive Programming','TDL']

for subject in subjects:
    columns_to_remove =  f'{subject} M'
    print(columns_to_remove)
    df.drop(columns=columns_to_remove, inplace=True)
df

Compiler Design M
Minor Project M
Technology Trends-4 M
Computer Networks M
AI KRR M
Service Learning M
Machine Learning-2 M
Competitive Programming M
TDL M

,Roll Number,Student Name,SGPA,Exam Name,Compiler Design G,Minor Project G,Technology Trends-4 G,Computer Networks G,AI KRR G,Service Learning G,Machine Learning-2 G,Competitive Programming G,TDL G,TDL Code
0,210BTCSEAM002,KESHAV MADHAV,7.462,EP,B+,A+,A+,A,A,B+,B+,C,B+,TDC23LW01
1,NaN,NaN,NaN,External,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Social Media and Censorship
2,NaN,NaN,NaN,Internal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,210BTCSEAM004,SOURABH TANWAR,4.692,EP,C,B+,A+,D,B,B+,F,F,A+,TDC23HS01
4,NaN,NaN,NaN,External,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Radiation in Healthcare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,NaN,NaN,NaN,External,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Site Design and Improvement
107,NaN,NaN,NaN,Internal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,221BTCSEAM001,Priyanshu Malik,7.217,EP,A+,A,B,A,B+,A,B,D,A,TDC22LW06
109,NaN,NaN,NaN,External,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Women Law and Policy
110,NaN,NaN,NaN,Internal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df.drop(columns=['SGPA','Exam Name','TDL Code'])

In [6]:
df.head(5)

,Roll Number,Student Name,Compiler Design G,Minor Project G,Technology Trends-4 G,Computer Networks G,AI KRR G,Service Learning G,Machine Learning-2 G,Competitive Programming G,TDL G
0,210BTCSEAM002,KESHAV MADHAV,B+,A+,A+,A,A,B+,B+,C,B+
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,210BTCSEAM004,SOURABH TANWAR,C,B+,A+,D,B,B+,F,F,A+
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
step = 3

# Calculate the indices to keep
reqd_indices = list(range(0, len(df), step))

# Select rows at calculated indices
df = df.iloc[reqd_indices]
df = df.reset_index(drop=True)

print("DataFrame after selecting rows with skipping indices:")
df.head()

DataFrame after selecting rows with skipping indices:

,Roll Number,Student Name,Compiler Design G,Minor Project G,Technology Trends-4 G,Computer Networks G,AI KRR G,Service Learning G,Machine Learning-2 G,Competitive Programming G,TDL G
0,210BTCSEAM002,KESHAV MADHAV,B+,A+,A+,A,A,B+,B+,C,B+
1,210BTCSEAM004,SOURABH TANWAR,C,B+,A+,D,B,B+,F,F,A+
2,210BTCSEAM005,SUBHAM JENA,O,A+,A+,A,A+,A,A,O,A+
3,210BTCSEAM011,YASHVI SINGH,A,A+,A+,A,A,B+,B+,A,A
4,210BTCSEAM012,KSHITIJ GUPTA,A+,A+,A+,A+,A+,A+,A,A,A

In [8]:
df.columns

Index(['Roll Number', 'Student Name', 'Compiler Design G', 'Minor Project G',
       'Technology Trends-4 G', 'Computer Networks G', 'AI KRR G',
       'Service Learning G', 'Machine Learning-2 G',
       'Competitive Programming G', 'TDL G'],
      dtype='object')

In [9]:
grade_order = ['C', 'D', 'F']

def highlight_failing_rows(row):
    if 'F' in row.values:
        return ['background-color: red'] * len(row)
    elif 'D' in row.values:
        return ['background-color: orange'] * len(row)
    else:
        return ['background-color: yellow'] * len(row)
    
    

# Iterate over each subject
subjects = df.columns[2:]  # Assuming grades start from column index 2

for subject in subjects:
    # Filter students with grades C, D, or F in the current subject and sort by grade_order
    filtered_students = df[df[subject].isin(grade_order)].copy()
    filtered_students['Grade'] = pd.Categorical(filtered_students[subject], categories=grade_order, ordered=True)
    filtered_students.sort_values(by='Grade', inplace=True)
    
    # Create a new DataFrame for the current subject
    results_df = filtered_students[['Roll Number', 'Student Name', subject]].copy()
    results_df.columns = ['Roll Number', 'Student Name', 'Grade']

    # Display the results for the current subject using display()
    print(f"Subject: {subject}")
#     display(results_df)
    display(results_df.style.apply(highlight_failing_rows, axis=1))
    print()

Subject: Compiler Design G

Subject: Minor Project G

Subject: Technology Trends-4 G

Subject: Computer Networks G

Subject: AI KRR G

Subject: Service Learning G

Subject: Machine Learning-2 G

Subject: Competitive Programming G

Subject: TDL G

In [10]:
import openpyxl
from openpyxl.styles import PatternFill

grade_order = ['C', 'D', 'F']

# Custom function to highlight grades
def highlight_grades(row):
    if 'F' in row.values:
        return ['background-color: red'] * len(row)
    elif 'D' in row.values:
        return ['background-color: orange'] * len(row)
    elif 'C' in row.values:
        return ['background-color: yellow'] * len(row)
    else:
        return [''] * len(row)

# Iterate over each subject
subjects = df.columns[2:]  # Assuming grades start from column index 2

# Create a master DataFrame to store all results
master_df = pd.DataFrame(columns=['Roll Number', 'Student Name', 'Grade', 'Subject'])

for subject in subjects:
    # Filter students with grades C, D, or F in the current subject and sort by grade_order
    filtered_students = df[df[subject].isin(grade_order)].copy()
    filtered_students['Grade'] = pd.Categorical(filtered_students[subject], categories=grade_order, ordered=True)
    filtered_students.sort_values(by='Grade', inplace=True)
    
    # Create a new DataFrame for the current subject
    results_df = filtered_students[['Roll Number', 'Student Name', subject]].copy()
    results_df.columns = ['Roll Number', 'Student Name', 'Grade']

    # Add subject column to the results DataFrame
    results_df['Subject'] = subject

    # Append to master DataFrame
    master_df = pd.concat([master_df, results_df], ignore_index=True)

# Save the master DataFrame to an Excel file
output_file = 'subject_wise_grades.xlsx'
master_df.to_excel(output_file, index=False)

# Load the workbook and the sheet to apply color coding
wb = openpyxl.load_workbook(output_file)
ws = wb.active

# Define fill colors for grades
fills = {
    'F': PatternFill(start_color='FF0000', end_color='FF0000', fill_type='solid'),
    'D': PatternFill(start_color='FFA500', end_color='FFA500', fill_type='solid'),
    'C': PatternFill(start_color='FFFF00', end_color='FFFF00', fill_type='solid')
}

# Apply color coding
for row in ws.iter_rows(min_row=2, max_row=ws.max_row, min_col=1, max_col=ws.max_column):
    grade = row[2].value  # Grade is in the third column
    if grade in fills:
        for cell in row:
            cell.fill = fills[grade]

# Save the workbook
wb.save(output_file)

# Display the final DataFrame with color coding (for Jupyter Notebooks)
def display_color_coded_df(df):
    def color_row(row):
        color = ''
        if row['Grade'] == 'F':
            color = 'background-color: red'
        elif row['Grade'] == 'D':
            color = 'background-color: orange'
        elif row['Grade'] == 'C':
            color = 'background-color: yellow'
        return [color] * len(row)
    
    return df.style.apply(color_row, axis=1)

display(display_color_coded_df(master_df))